/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 9px;
  background-color: white;
}

body {
  width: 50%;
  min-width: 700px;
  margin: 0 auto;
}

/* || typography */

a:-webkit-any-link {
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-size: 1.7rem;
  color: #026CB6;
  cursor: auto;
}

h1, h2, h3, h4 {
  font-family: "Source Sans Pro", "Helvetica",sans-serif;
  color: #303030;
}

p, input, li {
 font-family: "Source Sans Pro", "Helvetica",sans-serif;
  color: #303030;
   font-weight: lighter;
}

h1 {
  font-size: 4rem;
  text-align: center;
   font-weight: 500;
}

h2 {
  font-size: 3rem;
  text-align: relative;
   font-weight: normal;
}

h3 {
  font-size: 1.7rem;
   font-weight: lighter;
}

h4 {
  font-size: 2rem;
  text-align: relative;
   font-weight: normal;
}

p, li {
  font-size: 1.7rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

<style>
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #026CB6;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
</style>

main, header, nav, article, aside, footer, section {
  background-color: rgba(0,255,0,0.5);
  padding: 1%;
}

h1 {
  flex: 10;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 30px;
  padding-top: 20.15px;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: red;

}
/* || image settings */
img {
    display: block;
    margin: auto;
    width: 100%;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}
