html, body {
  margin: 0;
  padding: 0;
}

html{
  font-size: 15px;
  background-color: #000000;
}

h3{
  font-family: 'myriad pro light';
  color: white;
  font-style: normal;
}



#primo_h1, p {
  font-family: 'myriad pro light';
  color: white;
  text-align: center;
}

p.seconda_parte {
  font-family: sans-serif;
}

p > strong {
  color: yellow
}

p em {
  font-variant: small-caps;
}
========
h1{
  color: white;
}

li {
  text-color: yellow;
}

img {
  max-height: 150px;
}
