h1 {
  color:black;
  text-align: center;
  text-shadow: 0px 0px #CCC;
}

p.prima_parte {
  font-style:italic;
  align="center"
}

p.seconda_parte {
  background:#94F2C9
}

#primo_h1 {
  border-bottom: 1px solid #CCC;
}

p>strong {
  color:green
}

p>em {
  font-variant:small-caps
}

img.home{
  width: 80%;
}
.pull-left{
  float:left;
}

figure{
  margin: 0;
}
figcaption{
  text-align: center;
}

.div-img{
  width: 50%;
  text-align: center;
  margin-bottom: 15px;
}
